<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div class="container">
    <div class="page-wrap">
      <header class="page-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
        <%- partial('_partial/top-nav', null, {cache: !config.relative_link}) %>
      </header>
      <div class="pattern"></div>
      <main class="page-main<%= is_post() ? '' : ' page-article-list' %><%= is_home() ? ' page-home' : '' %>" role="main" tabindex="-1">
        <%- body %>
      </main>
    </div>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <nav class="side-nav">
    <ul id="nav-mobile">
      <li><a class="main-nav-link" href="<%= config.root %>">Home</a></li>
      <% for (var i in theme.menu){ %>
        <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
      <% } %>
      <li><a id="mobile-menu-close" class="main-nav-link" href="#">Close the menu</a></li>
    </ul>
  </nav>
  <%- partial('_partial/end-body') %>
</body>
</html>
