<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <%- feed_tag(theme.rss) %>
  <% } %>
  <% if (page.canonical){ %>
    <link rel="canonical" href="<%= page.canonical %>" />
  <% } %>
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="/favicons/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicons/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicons/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicons/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16.png">
  <link rel="apple-touch-icon" href="/favicons/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/favicons/favicon-144.png">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml">

  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <%- css('css/style') %>

  <%- partial('google-analytics') %>
</head>
