<nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
  <div class="nav-wrapper">
    <h1 class="brand-logo" itemprop="headline"><a href="<%= config.root %>" rel="home"><%= config.title %></a></h1>
    <meta itemprop="description" content="<%= config.author_meta %>'s blog">
    <a href="#" id="mobile-menu" class="hide-on-med-and-up menu-icon"></a>
    <nav role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
      <ul class="right hide-on-small-only">
        <li><a class="main-nav-link" href="<%= config.root %>">Home</a></li>
        <% for (var i in theme.menu){ %>
          <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
        <% if (theme.rss){ %>
          <li><a class="rss-icon" href="<%= config.root %><%- theme.rss %>" title="RSS Feed"></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</nav>
